@tailwind base;
@tailwind components;
@tailwind utilities;

.overview {
    min-height: 50vh;
}

.aboutme {
    min-height: 40vh;
}

.experience {
    min-height: 50vh;
}

.projects {
    min-height: 70vh;
}

.footer {
    border-top: 1px solid gray;
}